<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkware.florida">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".ui.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.AlwaysOnService" />
        <service android:name=".service.ScenarioService" />

        <activity
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme"
            android:name=".ui.WaitStateActivity" />

        <activity
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme"
            android:name=".ui.MessagePopupActivity" />
        <activity
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme"
            android:name=".ui.NoticePopupActivity" />
        <activity
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme"
            android:name=".ui.PassengerInfoPopupActivity" />
        <activity
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme"
            android:name=".ui.RequestOrderPopupActivity" />

        <activity
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme"
            android:name=".ui.PopupActivity" />
        <activity
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme"
            android:name=".ui.TestActivity" />

        <activity android:name=".ui.ConfigActivity" />

        <receiver
            android:name=".scenario.FloridaBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.LogFileActivity" />
    </application>

</manifest>