<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkware.florida.external">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".service.TachoMeterService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.thinkware.florida.external.service.TachoMeterService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.VacancyLightService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.thinkware.florida.external.service.VacancyLightService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.EmergencyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.thinkware.florida.external.service.EmergencyService" />
            </intent-filter>
        </service>
    </application>

</manifest>
